[user]
	name = David McGurrin
	email = davidmcgurrin@Davids-MBP.station

[alias]
    open = "!f() { \
        REPO_URL=$(git remote get-url origin); \
        REPO_URL=$(echo \"$REPO_URL\" | sed 's/.*github.com[/:]\\([^/]*\\)\\/\\([^\\.]*\\).*/github.com\\/\\1\\/\\2/'); \
        BRANCH=$(git rev-parse --abbrev-ref HEAD); \
        open \"https://$REPO_URL/compare/main...$BRANCH?quick_pull=1\"; \
    }; f"
    rup = "!f() { \
        git add . && git commit -m \"$1\" && \
        git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD) && \
        REPO_URL=$(git remote get-url origin); \
        REPO_URL=$(echo \"$REPO_URL\" | sed 's/.*github.com[/:]\\([^/]*\\)\\/\\([^\\.]*\\).*/github.com\\/\\1\\/\\2/'); \
        BRANCH=$(git rev-parse --abbrev-ref HEAD); \
        open \"https://$REPO_URL/compare/main...$BRANCH?quick_pull=1\"; \
    }; f"
     hup = "!f() { \
        echo 'Preparing for liftoff...'; \
        sleep 0.5; \
        echo '3...'; \
        sleep 0.5; \
        echo '2...'; \
        sleep 0.5; \
        echo '1...'; \
        sleep 0.5; \
        echo '🚀  Blast off!'; \
    }; f"

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
